body {
	display: grid;
	grid-template:
	"a a a" 10vh 
	"b b b" 85vh
	"c c c" 5vh;
	margin: 0px;
	margin-right: 4px;
	overflow-x: visible;
}
#banner {
	grid-area: a;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	grid-area: b;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
form {
	display: flex;
	padding: 10px;
	width: 75vw;
	justify-content: center;
}
aside {
	font-size: 0.5em;
}
#result {
	display: flex;
	width: 75vw;
}
#location {
	width: 50vw;
}
footer{
	grid-area: c;
}
