#banner {
	border: 2px solid rgb(255, 0, 0);
}

main {
	border: 2px solid rgb(0, 0, 255);
}

footer {
	border: 2px solid rgb(0, 255, 0);
}
.table {
	overflow-x: scroll;
	width: 75vw;
}
table {
	border-collapse: collapse;
}
th {
	border: 2px solid rgb(0, 0, 0);
	padding: 4px;
}
td {
	border: 2px solid rgb(0, 0, 0);
	padding: 4px;
}